.notification {
  color:green;
  background-color: lightgray;
  padding: 1rem;
  border: 2px solid green;
  border-radius: 5px;
  margin: 1rem;
}
.errorNotification {
  color:red;
  background-color: lightgray;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 5px;
  margin: 1rem;
}
